.car{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;    
    transition: border-radius, border .3s;
  }

.input{}

.input:active, input:focus{
  outline: none;
}

.input.green{
  border: 1px solid green;
}

.input.red{
  border: 1px solid red;
}

.input.bold{
  border: 3px solid aqua;
  font-weight: bold;
}